@tailwind base;
@tailwind components;
@tailwind utilities;

.disabled-scrool::-webkit-scrollbar {
    display: none;
}

.disabled-scrool::-webkit-scrollbar-thumb {
    display: none;
}

.avatar {
  /* width: 150px;
  height: 150px; */
  border-radius: 50%;
  padding: 4.5px;
  background: linear-gradient(45deg, #00f, #0ff, #0f0, #f0f, red);
  background-size: 300% 300%;
  animation: borderRotate 5s linear infinite;
}

@keyframes borderRotate {
  0% { background-position: 0% 50%; }
  100% { background-position: 300% 50%; }
}

@keyframes dash {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
